<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0%;

        font-family: "inter";
      }
      body {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        background-color: #e3e1e1;
      }
      main {
        background: white;
      }
      .welcome {
        background-color: white;
        border-radius: 7px;
        width: 600px;
        padding: 10px 60px;
      }
      .pirate-logo {
        margin-right: 5px;
        padding: 20px;
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
      }
      .hero-img {
        border-radius: 4px;
        background-color: #d5e8ff;
        position: relative;
        height: 287px;
      }
      .hero-img img {
        position: absolute;
        left: 82px;
        bottom: 30px;
      }
      .welcome-text {
        padding: 30px;
        text-align: center;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 54px;
        background-color: #edf4f5;
      }
      .welcome-par {
        margin: 20px 0px 0px 0px;
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        color: #2e3b44;
      }
      .welcome-text button {
        margin-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        align-items: flex-start;
        padding: 16px 32px;
        background: #206edb;
        border-radius: 5px;
        border: 0px;
      }
      .footer {
        margin-top: 15px;
        padding: 10px;
        background: #edf4f5;
        border-radius: 4px;
      }

      .footer-logs {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
      }
      .footer-logs .pirate-logo {
        padding: 10px 0px;
      }
      .footer-contacts a {
        font-weight: normal;
        font-size: 12px;
        line-height: 26px;
        text-decoration: none !important;
        color: #56666d;
      }
      .social-icons {
        display: grid;
        justify-content: center;
        gap: 15px;
        grid-template-columns: 20px 20px 20px;
      }
      .footer-info {
        display: flex;
        justify-content: space-between;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #999999;
      }
      table {
        width: 600px;
        border-spacing: 0px;
        padding: 10px 60px;
      }
    </style>
  </head>
  <body>
    <main>
      <section>
        <table>
          <tbody style="border-spacing: 0px">
            <tr style="text-align: center">
              <td>
                <div class="pirate-logo">
                  <img
                    src="https://examselect.sgp1.digitaloceanspaces.com/assets/vendors/1626420854319_logo.png"
                  />
                  <h3><span style="color: #1652b7">Exam</span> Pirate</h3>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="hero-img">
                  <img
                    src="https://examselect.sgp1.digitaloceanspaces.com/assets/vendors/1626495168723_Group.svg"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="welcome-text">
                  <span style="color: #1652b7"> <h1>Welcome</h1></span>
                  <div class="welcome-par">
                    <p>
                      Thanks for Signing Up! Are you ready to practice exam with
                      <span style="color: #1652b7"> Exam Pirate</span>?
                    </p>
                    <button>Visit Site Now</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <div class="footer-logs">
                  <div class="pirate-logo">
                    <img
                      src="https://examselect.sgp1.digitaloceanspaces.com/assets/vendors/1626420854319_logo.png"
                    />
                    <h3><span style="color: #1652b7">Exam</span> Pirate</h3>
                  </div>
                  <div class="footer-contacts">
                    <a href="#">Go to Exam Pirate</a>
                    <a href="#">Unsubscribe</a>
                    <a href="#">Privacy Policy</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="footer-info">
                  <div>
                    <p>Copyright © 2020 Shiprocket Inc.</p>
                    <p>
                      A better company begins with a personalised shipment
                      experience.
                    </p>
                  </div>
                  <div class="social-icons">
                    <a
                      ><img
                        src="https://examselect.sgp1.digitaloceanspaces.com/assets/vendors/1626505595161_asds.svg"
                    /></a>

                    <a
                      ><img
                        src="https://examselect.sgp1.digitaloceanspaces.com/assets/vendors/1626505649624_ss.svg"
                    /></a>
                    <a
                      ><img
                        src="https://examselect.sgp1.digitaloceanspaces.com/assets/vendors/1626505617312_in%20%281%29.svg"
                    /></a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>